body {
    background-image: url("../imgs/timg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.8;
    z-index: 0;
}

div.txb {
    background-color: aliceblue;
    opacity: 0.3;
    position: fixed;
    top: -50px;
    left: -20px;
    width: 110%;
    height: 120%;
    z-index: 1;
}

.center {
    left: 50%;
    align-self: center;
    text-align: center;
    color: black;
    position: absolute;
    z-index: 2;
}

div.ele {
    position: absolute;
    align-items: flex-start;
    align-self: start;
    height: 100%;
    width: 20%;
    z-index: 5;
}

#f {
    height: 100%;
    width: 100%;
}